/* here you can put your own css to customize and override the theme */
.datatable td {
  overflow: hidden; /* this is what fixes the expansion */
  text-overflow: ellipsis; /* not supported in all browsers, but I accepted the tradeoff */
  white-space: nowrap;
}
div.dataTables_paginate > ul > li.next > a, div.dataTables_paginate > ul > li.prev > a{ padding: 9px 10px;}


.pointer{cursor: pointer; background: #e1e5ec !important}


body{
    position: relative;
}

@media (max-width: 999px) and (min-width: 990px){
    .top-nav .page-header{
        margin-left: 55px;
    }
}
@media (max-width: 602px) {
    .top-nav .page-header{
        margin-left: 20px;
    }
    .page-footer .footer-list{
        margin-left: 0 !important;
    }
}

a.button-collapse.top-nav i{
    margin-top: 8px;
}

.side-nav .collapsible-body>ul:not(.collapsible)>li.active, .side-nav.fixed .collapsible-body>ul:not(.collapsible)>li.active{
     background-color: rgba(100,100,100, .5);
 }
ul.side-nav.fixed li.active {
    background-color: rgba(0,0,0,0.05);
}
/*
.side-nav .collapsible-body>ul:not(.collapsible)>li.active a, .side-nav.fixed .collapsible-body>ul:not(.collapsible)>li.active a{
    color: #fff;
}*/
@media (max-width: 1366px) and (min-width: 993px){
    .page-content-wrapper .page-content {
        margin-left: 235px;
    }
}

li[name='active'] {
    color:blue !important;
}

.page-content-white .page-content .page-bar {
    border-bottom: none;
}
.page-footer{
    background-color: #A9A9A9;
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    z-index: 99 !important;
   /* min-height: 60px;*/
}

.page-footer .page-footer-inner{
    float: none;
}

.page-footer .footer-list{

    display: inline-block;
    margin-bottom: 10px;
    margin-left: 20px;
}
.page-footer .footer-list>li{
    display: inline-block;
    list-style-type: none;
}
.page-footer .footer-list>li a{
    color: #333;
}


/*--------Grid page---------*/

code[class*="language-"],
pre[class*="language-"] {
    color: black;
    /*	text-shadow: 0 1px white;*/
    font-family: 'Inconsolata', Monaco, Consolas, 'Andale Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.4;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
    text-shadow: none;
    background: #b3d4fc;
}

@media print {
    code[class*="language-"],
    pre[class*="language-"] {
        text-shadow: none;
    }
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #999;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #a67f59;
    background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #07a;
}

.token.function {
    color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
    color: #e90;
}

.token.important {
    font-weight: bold;
}

.token.entity {
    cursor: help;
}
/*grid end*/



/*-------------------------------------------------------------- */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s; }
header h1#logo {
    display: inline-block;
    height: 76px;
    font-size: 48px;
    color: #666;
    font-weight: 300;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }

header h1 .logo_first{
    background-color: white;
    border-radius: 50% !important;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-right: 20px;
    display: inline-block;
    line-height: 45px;
}
header nav {
    display: inline-block;
    float: right; }
/*header nav a {*/
    /*line-height: 150px;*/
    /*margin-left: 20px;*/
    /*color: #9fdbfc;*/
    /*font-weight: 700;*/
    /*font-size: 18px;*/
    /*-webkit-transition: all 0.3s;*/
    /*-moz-transition: all 0.3s;*/
    /*-ms-transition: all 0.3s;*/
    /*-o-transition: all 0.3s;*/
    /*transition: all 0.3s; }*/
/*header nav a:hover {*/
    /*color: white;*/
/*}*/
header.smaller {
    height: 75px;
}
header.smaller h1#logo {
    /*width: 130px;*/
    height: 31px;
   /* height: 75px;*/
    /*line-height: 75px;*/
    font-size: 30px;
    margin:0;
}
header.smaller nav a {
    line-height: 75px; }


.page-title{
    width:100%;

}

header .chevron{
    position: absolute;
    right: 135px;
    top: 10px;

}

header .chevron .chevron-down i, header .chevron .chevron-up i{
     border: 1px solid #a1a1a1;
     background-color: #a1a1a1;
     border-radius: 50%;
     padding: 5px;
    color: #fff;
    cursor: pointer;
}
.page-content-wrapper .page-content{

    padding: 25px 30px 10px;
    padding-top: 220px;
}
header.smaller{
    height: 54px;
    /*height: 85px;*/
}
.theme-panel>.toggler{
    right:-5px;
}

.page-content-white .page-title {
    padding-left: 290px;

}

@media only screen and (min-width: 993px){
    .page-footer .container{
        width:70% !important;
        margin-top: 12px;
    }

}


@media only screen and (max-width: 1200px){
    .page-footer .container{
        margin-top: 0px;
    }
    .page-footer .pg-footer-center{
        text-align: center;
    }
}
@media only screen and (max-width: 999px){
    .page-content-white .page-title {
        padding-left: 215px;
    }
}
@media only screen and (max-width: 993px){

    .page-content-wrapper {
        margin-top: 40px;

    }
}

@media only screen and (max-width: 780px){

    header h1#logo{
        font-size: 6vw;
    }
    header.smaller h1#logo{
        font-size: 4vw;
    }
}
@media only screen and (max-width: 680px){

    header h1#logo{
        font-size: 7vw;
    }
}


@media (max-width: 991px){

    .page-content-wrapper .page-content {
        /*padding-top: 215px !important;*/

        padding-left: 25px!important;
        padding-right: 25px!important;
    }
}
@media (max-width: 767px){
    .page-content-wrapper .page-content {
        /*padding-top: 215px !important;*/
        padding-left:20px!important;
        padding-right:20px!important;
    }
}
@media only screen and (max-width: 992px){
    .page-content-white .page-title {
        padding-left: 0px;
    }
}

/*cards*/

.cards-container {
    column-break-inside: avoid;
}
.cards-container .card {
    display: inline-block;
    overflow: visible;
}

@media only screen and (max-width: 600px) {
    .cards-container {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}
@media only screen and (min-width: 601px) {
    .cards-container {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 993px) {
    .cards-container {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}
@media only screen and (min-width: 1960px) {
    .cards-container {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}
.scrollspy .caption{
    margin: 0;
}
.pad-card{
    margin-right: -3px;
}
.pad-col3{
    margin-left: -5px !important;
    padding-left: 0 !important;
}
.pad-card .card {
    margin: 0.5rem 0.5rem 1rem 0;
}
@media(max-width: 999px) and (min-width: 992px)  {
    .page-content-white .theme-panel {
        right: 60px;
    }
}

@media (max-width: 992px) {
    header h1#logo{
        margin: 0;
    }
}


@media (max-width: 600px) {
    .page-content-wrapper .page-content {
        padding-top: 180px;
    }
}
@media (min-width: 601px) {
    .page-content-wrapper .page-content {
        padding-top: 160px;
    }
}
@media (min-width: 993px) {
    .page-content-wrapper .page-content {
        padding-top: 180px;
    }
}
@media (min-width: 994px) {
    .page-content-wrapper .page-content {
        padding-top: 220px;
    }
}
a.button-collapse.top-nav{
    left: 0;
}
.page-content-white .theme-panel{
    top: 5px;
}


.tb-adr{
    display: table;
    padding: 10px;
    font-size: 16px;
}
.tb-adr .icon-tb-cl{
    display: table-cell;
    vertical-align: middle;
}
.tb-adr .text-tb-cl{
    display: table-cell;

}
.rand-place .locat-call{
    width: 240px !important;
    margin:10px;
    height: 80px;
    overflow: auto;
    background-color: #ccc;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
    -webkit-overflow-scrolling: touch;
    scrollbar-base-color: #666;
    scrollbar-3dlight-color: #fff;
    scrollbar-highlight-color: #666;
    scrollbar-track-color: #E9E9E9;
    scrollbar-arrow-color: #666;
    scrollbar-shadow-color: #666;
    scrollbar-dark-shadow-color: #666;
}

.rand-place .locat-call::-webkit-scrollbar-thumb,
.rand-place .locat-call::-webkit-scrollbar-track,
.rand-place .locat-call::-webkit-scrollbar {
    border-radius: 3px;
    height: 2px;
    width: 2px;
}

.rand-place .locat-call::-webkit-scrollbar-track {
    background-color: #E9E9E9;
}

.rand-place .locat-call::-webkit-scrollbar-thumb {
background-color: #666;
}
.rand-place .locat-call .text-tb-cl li{
    line-height: normal;
}
.page-header .zang{
    background-image: url(../img/flat.png);
    background-repeat:no-repeat;
    position: absolute;
    display: inline-block;
    top: 10px;
    width: 30px;
    height: 35px;
    right: 80px;
}

.rand-place {
    /*width: calc(100% - 45px);*/
    padding-left: 25px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scrollbar-base-color: #666;
    scrollbar-3dlight-color: #fff;
    scrollbar-highlight-color: #666;
    scrollbar-track-color: #E9E9E9;
    scrollbar-arrow-color: #666;
    scrollbar-shadow-color: #666;
    scrollbar-dark-shadow-color: #666;
}
.rand-place::-webkit-scrollbar-thumb,
.rand-place::-webkit-scrollbar-track,
.rand-place::-webkit-scrollbar {
    border-radius: 3px;
    height: 2px;
    width: 2px;
}
.rand-place .row{
    width: 1500px;
    margin-bottom:0;
}

.rand-place::-webkit-scrollbar-track {
    background-color: #E9E9E9;
}

.rand-place::-webkit-scrollbar-thumb {
    background-color: #666;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0; }